* {
  box-sizing: border-box;
  margin: 0;
}
.show-images {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding: 15% 35% 25% 35%;
  background-color: rgba(36, 31, 31, 0.9);
  text-align: center;
  z-index: 1;
}
.image-container {
  display: flex;
  height: 400px;
  margin-bottom: 3%;
  position: relative;
}
.flex-item {
  flex: 1;
  margin-right: 10px;
  position: relative;
  opacity: 0.6;
}
.flex-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.image-container .flex-item:hover {
  opacity: 1;
  transition: opacity 1s ease;
}

.image-container .flex-item .flex-info .flex-title {
  color: rgb(58, 10, 233);
  text-align: center;
  display: none;
}
.image-container .flex-item:hover .flex-info .flex-title {
  display: block;
}

/* footer */
.main-footer {
  background-color: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer_links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer_link {
  margin: 0.5rem 0;
}

.main-footer_link a {
  color: white;
  text-decoration: none;
}
.main-footer_link a:hover,
.main-footer_link a:active {
  color: #ccc;
}

/* plan */
.title {
  text-align: center;
  color: #2ddf5c;
}
.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}
.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}
.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
